#about {
    height: fit-content;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.about {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.greenText {
    color: var(--pastel-green);
    font-variant: small-caps;
    font-size: 2.5rem;
    text-align: center;
}
