#skills {
    height: fit-content;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.iconImage {
    margin-left: auto;
    margin-right: auto;
    /* user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
}

.bubble {
    display: flex;
    align-items: center;
}

.skillName {
    font-size: 1rem;
    display: block;
    position: absolute;
    bottom: -30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--light-text);
    padding-left: 1ch;
    padding-right: 1ch;
}
